@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
 *{
    box-sizing:border-box;
	margin:0;
	padding:0;
	}
body{
	font-family:Roboto,sans-serif;
}
 .container{
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
} 
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.row > *{
	width: 100%;
	padding: 0 15px;
}
.col-lg-1{
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2{
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3{
	width: 25%;
	padding: 0 15px;
}
.col-lg-4{
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5{
	width: 41.66%;
	padding: 0 15px;
}
.col-lg-6{
	width: 50%;
	padding: 0 15px;
}
.col-lg-7{
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8{
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9{
	width: 75%;
	padding: 0 15px;
}
.col-lg-10{
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11{
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12{
	width: 100%;
	padding: 0 15px;
}
   /*-----header-sectio----*/
.header-section{
	position:fixed;
	top:0;
	left:0;
	padding-bottom:8px;
	padding-top:8px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	background:#fff;
}

.header{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
	
.logo{
	margin-left:16px;
	display:flex;
}
.logo .menu{
	width:22px;
	margin-right:25px;
}
.logo .logo-pic{
	width:108px;
	margin-right:132px;
}
.search-bar{
	margin:0 125px;
	display:flex;
}
.voice img{
	width:18px;
}
.search-bar .search{
	display:flex;
	align-items:center;
	padding:8px 10px;
	margin-right:16px;
	border:1px solid #ccc;
	border-radius:25px;
}
.search input{
	width:400px;
	border:none;
	outline:none;
	background:transparent;
}
.search img{
	width:15px;
}
.header-icons{
	margin:0 36px;
}
.header-icons img{
	width:25px;
	margin-right:25px;
}
.header-icons .jack{
	width:35px;
	border-radius:50%;
}
         /*sidebar-section*/
.body-section{
	padding-top:70px;
}
/*.sidebar-section{
	width:15%;
	height:80vh;
	position:fixed;
	top:88px;
	overflow:hidden;
	overflow-y:scroll;
	background:#ffffff;
}*/

.shortcut img{
	width:20px;
	margin-right:20px;
}
.shortcut a{
	display:flex;
	align-items:center;
	margin-bottom:10px;
	font-size:15px;
	text-decoration:none;
	padding:7px;
	color: #626262;
}
.shortcut a:first-child{
	color:#ed3833;
}
.shortcut hr{
	  border:0;
	  height:1px;
	  background:#ccc;
	  width:138px;
}
.shortcut a:hover{
	background: rgb(145 145 145 / 8%);
}
   /*subscribed*/
.subscribed h3{
	font-size:16px;
	margin:12px 0;
	color:#5a5a5a;
}
.subscribed img{
	width:28px;
	margin-right:16px;
	border-radius:50%;
}
.subscribed a{
	 display:flex;
	 text-decoration:none;
	 align-items:center;
	 margin-bottom:10px;
	 font-size:15px;
	 padding:7px;
	 color: #626262;
}
.subscribed a:hover{
	background: rgb(145 145 145 / 8%);
}
.video-page{
}
.video .thumbnail{
     width:100%;
     border-radius:5px;
	 height:auto;
}
.video .flex-div{
	display:flex;
	align-items:flex-start;
	margin-top:7px;
	margin-bottom: 20px;
}
.flex-div img{
	width:48px;
	height:44px;
	margin-right:10px;
	border-radius:50%;
}
.video-info{
	color:black;
	font-size:12px;
}
.video-info a{
	display:block;
	font-size:12px;
	font-weight:600;
	margin-bottom:5px;
	text-decoration:none;
	color:black;
}
	 





	







